section.news_event.container
    .inner_news_event.content
        h6 Tin Tức - Sự Kiện
        hr
        .hot_news
            .card 
                .card_header
                    div
                        i.fas.fa-list  Tin nổi bật
                .card_body
                    ul.list
                        li Lorem Ipsum
                        li Lorem Ipsum                        
                        li Lorem Ipsum                        
                        li 
                            a.active(href="event_detail.html") lorem Ipsum
                        li Lorem Ipsum      
                        li Lorem Ipsum      
                        li Lorem Ipsum      
                        li Lorem Ipsum      
                        li Lorem Ipsum      
                        li Lorem Ipsum      
                        li Lorem Ipsum      
        .news_feed
            .news_feed_left
                img(src="../../assets/img/news_event/workout-at-gym.jpg", alt="")
                strong.lcl.lcl-1 Lorem Ipsum is simply dummy text of the printing and typesetting.
                p.lcl.lcl-3 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in.
                div
                    small.clock 2 giờ trước
                    small.view 2000 lượt
                    small.comment 190 lượt
            .news_feed_right
                img(src="../../assets/img/news_event/393.jpg", alt="")
                strong.lcl.lcl-1 Lorem Ipsum is simply dummy text.
                p.lcl.lcl-2 Duis aute irure dolor in reprehenderit in voluptate.
                div
                    small.clock 2 giờ trước
                img(src="../../assets/img/news_event/393.jpg", alt="")
                strong.lcl.lcl-1 Lorem Ipsum is simply dummy text.
                p.lcl.lcl-2 Duis aute irure dolor in reprehenderit in voluptate.
                div
                    small.clock 2 giờ trước
            div.clear
        
            .bottom_news
                .inner_bottom_news
                    - for (var x =0; x < 4; x ++)
                        .bottom_new_item
                            .item_left
                                img(src="../../assets/img/news_event/15424.jpg", alt="")
                            .item_right
                                strong.lcl.lcl-1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                div
                                    small.clock 7 ngày trước
                button Đọc thêm
        div.clear
                   

