
section.product_page.container
    div#slider
    .inner_product.content
        h6.asd
            !="<a href='index.html'>Trang Chủ</a><span> > </span> <a class='active' href='product_detail.html'>Sản Phẩm</a>"
        .left_product
            .card
                .card_header
                    h6
                        i.fas.fa-filter  BỘ LỌC
                .card_body
                    h6 MỨC GIÁ
                    #slider-range
                    p
                        input#amount(type='text', readonly='', style='border:0; color:#f6931f; font-weight:bold;')
                    hr
                    h6 THƯƠNG HIỆU  
                    button
                        i.fas.fa-search.icon
                    input(type="text")
                    div.brand
                        ul
                            li 
                                a(href="") Addidas
                            li 
                                a(href="") Addidas
                            li
                                a(href="") Addidas
                            li 
                                a(href="") Addidas
                            li 
                                a(href="") Addidas
                            li 
                                a.active(href="") Addidas
            .card 
                .card_header
                    div
                        != "<i class='fas fa-list'></i>  DANH MỤC SẢN PHẨM"
                .card_body
                    ul.list
                        li 
                            a(href="") PHỤ KIỆN THỂ THAO
                        hr
                        li 
                            a(href="") PHỤ KIỆN THỂ THAO
                        hr
                        li 
                            a(href="") PHỤ KIỆN THỂ THAO
                        hr
                        li 
                            a(href="") PHỤ KIỆN THỂ THAO
                        hr
        .right_product
            h6 < 1 2 3 ... 8 9 10 >
            div.clear
            .grid_product
                - for (var x = 0; x < 16; x++)
                    a(href="product_detail.html")
                        div.grid_item
                            img(src="../../assets/img/product/giay 1.png", alt="")
                            p Ghế massage Okasa OS-868
                            strong 3.000.000 ₫ 
                            .gift
                                i.fas.fa-gift  | Quà Tặng
div.clear
        