footer
    .inner_footer.content
        ul.as-fe
            li
                h4 Liên Hệ
            li
                != "<i class='fas fa-phone-alt'></i><span>0906653554</span>"
            li
                != "<i class='fas fa-envelope'></i><span>kimcucsport@gmail.com</span>"
            li
                != "<i class='fas fa-map-marker-alt'></i><span>133 - 143 Hùng Vương, t.p Quảng Ngãi</span>"
            li
                != "<i class='fab fa-facebook'></i><span>https://www.facebook.com/kimcucsports/</span>"
        ul.product_footer.as-fe
            li
                h4 San pham
            div
                li
                    a(href="") Phụ Kiện thể thao
                li
                    a(href="") Phụ Kiện thể thao
                li
                    a(href="") Phụ Kiện thể thao
                li
                    a(href="") Phụ Kiện thể thao
        ul.as-fe
            img(src="../../assets/img/Group 13207.png", alt="")
    .last_page
        ul.content
            li Điều Kiện
            li Điều Khoản
            li Chính Sách Bảo Mật
