
header
  .backgound
    a(href="index.html")
      div.logo-brand
        .logo
        p SỨc khỏe của bạn là thành tựu của chúng tôi !
    .right-home
      .above-nav
        .social
          a(href="")
            img(src='../../assets/img/Exclusion 1.png' alt='')
          a(href="")
            img(src='../../assets/img/Exclusion 3.png' alt='')
        .input-icons
          input.input-field(type='text')
          i.fas.fa-search.icon  
        .cart
          i.fas.fa-shopping-cart
          |  Gi&#x1ECF; H&agrave;ng | 0
      hr
      nav.menu
        ul.inner-menu
          li
            a(href='introduce.html') Gi&#x1EDB;i thi&#x1EC7;u
          li
            a(href='product.html') Sản Phẩm
          li
            a(href='news_event.html') Tin T&#x1EE9;c - S&#x1EF1; Ki&#x1EC7;n
          li
            a(href='guarantee.html') Ch&iacute;nh S&aacute;ch
          li
            a(href='contact.html') Li&ecirc;n H&#x1EC7;
          li
            a(href="")
              img(src='../../assets/img/vn.png' alt='')
            a(href="")
              img(src='../../assets/img/en.png' alt='')
    
