
header
  .backgound
    a(href="index.html")
      div.logo-brand
        .logo
        p SỨc khỏe của bạn là thành tựu của chúng tôi !
    .right-home
      .above-nav
        .social
          a(href="")
            img(src='../../assets/img/Exclusion 1.png' alt='')
          a(href="")
            img(src='../../assets/img/Exclusion 3.png' alt='')
        .input-icons
          input.input-field(type='text')
          button
            img(src="../assets/img/icon/find_icon.svg", alt="") 
        .cart
          i.fas.fa-shopping-cart
          |  Gi&#x1ECF; H&agrave;ng | 0
      hr
      nav.menu
        ul.inner-menu
          li
            a(href='introduce.html') Giới Thiệu
          li
            a(href='product.html') Sản Phẩm
          li
            a(href='news_event.html') Tin Tức - Sự Kiện
          li
            a(href='guarantee.html') Chính Sách
          li
            a(href='contact.html') Liên Hệ
          li.language
            a(href="")
              img(src='../../assets/img/vn.png' alt='')
            a(href="")
              img(src='../../assets/img/en.png' alt='')
    
