section.product_detail.container
    .inner_product_detail
        h6
            !="<a href='index.html'>Trang Chủ</a><span> > </span><a href='index.html'>Trang Chủ</a><span> > </span> <a href='index.html'>Trang Chủ</a><span> > </span>  <a class='active' href='product_detail.html'>Giày Tesnis nam Ikecour</a>"
        .product_detail_left
            img.main_product(src="../../assets/img/detail_product/giay ...png", alt="")
            .slider_product_detail.swiper-container
                .swiper-wrapper
                    - for (var x = 0; x < 5; x++)
                        div.swiper-slide
                            img(src="../../assets/img/detail_product/giày 3.jpg", alt="")
                .swiper-pagination

        .product_detail_right
            h1 GIÀY TENNIS NAM IKECOUR
            div
                p 
                    != "Mã hàng: <strong>AGS - 262</strong>"
            div.brand_nane
                p
                    != "Thương hiệu: <strong>Lorem impsump</strong>"
            div.product_desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div.price
                h4
                    !="Giá: <strong>14.500.000 VNĐ</strong>"
                input(type="number" , placeholder="Số lượng")
                button Mua Online Ngay
        div.clear
        .product_info
            div.info_header
                a.visible_info.active_bg(href="") Thông tin sản phẩm
                a.visible_parameter(href="") Thông tin chi tiết
            .inner_product_info
                h4 GIÀY TENNIS NAM NIKECOUR 
                p
                    != "Mã Hàng: <strong>AGS - 262</strong> Thương hiệu: <strong class='brand_info'> Lorem impsump </strong>"
                img(src="../../assets/img/detail_product/393.jpg", alt="")
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                div.fix_content
                    .left_content
                        img(src="../../assets/img/detail_product/Group 13272.jpg", alt="")
                    .right_content
                        h6 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        h6 Lorem ipsum
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                div.clear
                .fix_content
                    .left_content
                        h6 Lorem ipsum 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex  laboris nisi ut aliquip ex ea commodo consequat.
                        h6 Lorem ipsum
                        p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Duis aute irure dolor in reprehenderit in. Duis aute irure dolor in reprehenderit in. Duis aute irure dolor in reprehenderit in. Duis aute irure dolor in reprehenderit in.
                    .right_content
                        img(src="../../assets/img/detail_product/Group 13443.jpg", alt="")
                div.clear
            .product_detail_num
                table
                    - for (var x =0; x < 14; x++)
                        tr
                            td Lorem ipsum dolor sit amet
                            td Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        div.sptt
            h6 SẢN PHẨM TƯƠNG TỰ
            hr
            .slider_sptt.swiper-container
                .swiper-wrapper
                    - for (var x = 0; x < 5; x++)
                        .swiper-slide
                            img(src="../../assets/img/product/giay 1.png", alt="")
                            p.lcl.lcl-1 Ghế massage Okasa
                            p.lcl.lcl-1 OS-868
                            strong 3.000.000 ₫ 
                            .gift
                                i.fas.fa-gift  | Quà Tặng
            
            