section.introduce.container
    .inner_introduce
        h6 Giới Thiệu về Kim Cúc
        hr
        .welcome
            .welcome_left
                p Chào mừng đến với Kim Cúc Sport!
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .welcome_right
                img(src="../../assets/img/introduce/Repeat Grid 92.jpg", alt="")
        div.clear
        h6 Mục tiêu phát triển kim cúc sport
        hr
        .goal
            div
                img(src="../../assets/img/introduce/33.jpg", alt="")
                p.goal_header.lcl.lcl-1 Lorem ipsum
                p.lcl.lcl-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, similique distinctio reprehenderit voluptate, obcaecati quam hic quidem dicta minus voluptates aliquam quae tempore molestiae ducimus, sint laborum laboriosam iste at!
            div
                img(src="../../assets/img/introduce/33.jpg", alt="")
                p.goal_header.lcl.lcl-1 Lorem ipsum
                p.lcl.lcl-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, similique distinctio reprehenderit voluptate, obcaecati quam hic quidem dicta minus voluptates aliquam quae tempore molestiae ducimus, sint laborum laboriosam iste at!
            div
                img(src="../../assets/img/introduce/33.jpg", alt="")
                p.goal_header.lcl.lcl-1 Lorem ipsum
                p.lcl.lcl-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, similique distinctio reprehenderit voluptate, obcaecati quam hic quidem dicta minus voluptates aliquam quae tempore molestiae ducimus, sint laborum laboriosam iste at!
                        
        h6 PHƯƠNG CHÂM HOẠT ĐỘNG
        hr
        .motto
            .inner_motto
                .left_motto
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .right_motto
                    img(src="../../assets/img/introduce/27.jpg", alt="")
        div.clear