.swiper-container_home.swiper-container
    .swiper-wrapper
        .swiper-slide
            img(src="../../assets/img/cardio-workout.png", alt="")
        .swiper-slide 
            img(src="../../assets/img/cardio-workout.png", alt="")
        .swiper-slide 
            img(src="../../assets/img/cardio-workout.png", alt="")
        .swiper-slide 
            img(src="../../assets/img/cardio-workout.png", alt="")
    .swiper-pagination
    .thegym
      h2
        strong THE
        strong  G
        strong Y
        strong M
      h3 Multifunction
      h6 exercise equipment