extends _components/_layout/_layout.pug

block var
	- let title = 'Index';
	- let bodyClass = 'index-page';
	- let titlePosition = ['Đường dạo ven sông', 'Bến du thuyền','Công viên xanh','Vườn ươm cây','Bến thuyền Kayak','Blubhouse & hồ bơi', 'Aqua central mall','Game center','Khu vui chơi trẻ em','Trường học các cấp','Aqua sport complex','Phòng khám đa khoa quốc tế'];
block banner,breadcrumb
block main
	#fullpage
		.section 1
		.section 2
		.section 3
		.section 4
block scripts
