extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Introduce';
	- let bodyClass = 'introduce-page';

block banner,breadcrumb
	include _templates/banner/banner
block main
	include _templates/Introduce/_introduce
block scripts
