extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Google map';
	- let bodyClass = 'google-map-page';

block banner,breadcrumb
block main
	include _templates/map/m-1
block scripts
	script.
		var locationsInput = [
			{
				lat: 10.8511063,
				lng: 106.6867113,
				title: 'Home',
				address: '134/8A, Trần Bá Giao, Q.Gò Vấp, Tp. HCM',
				phone: '0914.633.990'
			},
			{
				lat: 12.1275322,
				lng: 104.1095803,
				title: 'Company',
				address: '192/68, Nguyễn Oanh, Q.Gò Vấp, TP.HCM',
				phone: '0905.010.115'
			},
			{
				lat: 57.4483839,
				lng: -99.8296627,
				title: 'Company',
				address: '192/68, Nguyễn Oanh, Q.Gò Vấp, TP.HCM',
				phone: '0905.010.115'
			},
			{
				lat: 10.8511010,
				lng: 106.6867194,
				title: 'Company',
				address: '192/68, Nguyễn Oanh, Q.Gò Vấp, TP.HCM',
				phone: '0905.010.115'
			},
		]
	script(src="./js/GoogleMapController.min.js")