extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Product';
	- let bodyClass = 'product-page';

block banner,breadcrumb
	include _templates/banner/banner
block main
	include _templates/product/_product.pug
block scripts
