.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}