section.label-wrapper.container
  .inner-label
    h6 NH&Agrave; PH&Acirc;N PH&#x1ED0;I CH&Iacute;NH H&Atilde;NG C&Aacute;C TH&#x1AF;&#x1A0;NG HI&#x1EC6;U
    .swiper-container_brand.swiper-container
      .swiper-wrapper
        div.swiper-slide
          img(src='../../assets/img/label/cybex2-min.png' alt='')
        div.swiper-slide
          img(src='../../assets/img/label/adidas-min.png' alt='')
        div.swiper-slide
          img(src='../../assets/img/label/Group 13231.png' alt='')
        div.swiper-slide
          img(src='../../assets/img/label/logo-am.png' alt='')
        div.swiper-slide
          img(src='../../assets/img/label/Nike-2-min.png' alt='')
        div.swiper-slide
          img(src='../../assets/img/label/yonex-min.png' alt='')
      .swiper-pagination
section.product.container
  .inner_product_sell
    h6 Sản Phẩm Bán
    hr
    .product_content
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫ 
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫ 
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫ 
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫ 
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫ 
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫
      div.product_item
        img(src="../../assets/img/Sell-product/ghế 1.png", alt="")
        p.lcl.lcl-1 Ghế massage Okasa
        p.lcl.lcl-1 OS-868
        strong 3.000.000 ₫
    h6 Sản Phẩm Tập Thể
    hr
    .product_content
      div.product_item
        img(src="../../assets/img/machine/máy 1.png", alt="")
        p.lcl.lcl-1 XE ĐẠP TẬP THỂ DỤC AGURI
        p.lcl.lcl-1 AGS-202
        strong 4.350.000 ₫
        .gift
          i.fas.fa-gift  |Quà Tặng
      div.product_item
        img(src="../../assets/img/machine/máy 1.png", alt="")
        p.lcl.lcl-1 XE ĐẠP TẬP THỂ DỤC AGURI
        p.lcl.lcl-1 AGS-202
        strong 4.350.000 ₫
        .gift
          i.fas.fa-gift  |Quà Tặng
      div.product_item
        img(src="../../assets/img/machine/máy 1.png", alt="")
        p.lcl.lcl-1 XE ĐẠP TẬP THỂ DỤC AGURI
        p.lcl.lcl-1 AGS-202
        strong 4.350.000 ₫
        .gift
          i.fas.fa-gift  |Quà Tặng
      div.product_item
        img(src="../../assets/img/machine/máy 1.png", alt="")
        p.lcl.lcl-1 XE ĐẠP TẬP THỂ DỤC AGURI
        p.lcl.lcl-1 AGS-202
        strong 4.350.000 ₫
        .gift
          i.fas.fa-gift  |Quà Tặng
      div.product_item
        img(src="../../assets/img/machine/máy 1.png", alt="")
        p.lcl.lcl-1 XE ĐẠP TẬP THỂ DỤC AGURI
        p.lcl.lcl-1 AGS-202
        strong 4.350.000 ₫
        .gift
          i.fas.fa-gift  |Quà Tặng
.temp
  div
    p Fitness &
    span workout program
section.customer.container
  .inner_customer
    h6 KHÁCH HÀNG CỦA CHÚNG TÔI
    hr
    .swiper-container_brand.swiper-container
      .swiper-wrapper
        div.swiper-slide
          img(src="../../assets/img/customer/228.jpg", alt="")
          span.lcl.lcl-1 Lorem Ipsum
        div.swiper-slide
          img(src="../../assets/img/customer/228.jpg", alt="")
          span.lcl.lcl-1 Lorem Ipsum
        div.swiper-slide
          img(src="../../assets/img/customer/228.jpg", alt="")
          span.lcl.lcl-1 Lorem Ipsum
        div.swiper-slide
          img(src="../../assets/img/customer/228.jpg", alt="")
          span.lcl.lcl-1 Lorem Ipsum
        div.swiper-slide
          img(src="../../assets/img/customer/228.jpg", alt="")
          span.lcl.lcl-1 Lorem Ipsum
      .swiper-pagination
section.news_home.container
  .inner_news
    .right_news
      .inner_right_news
        h6 Tin Tiêu Điểm
        hr
        img(src="../../assets/img/news/workout-at-gym.jpg", alt="")
        p.font_color.lcl.lcl-1 Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        span 20/02 /2020
        p.fix_font.lcl.lcl-3 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque deleniti nam obcaecati nemo quo architecto hic laboriosam numquam vitae maxime, eius culpa aliquid ad beatae explicabo dolorum reprehenderit nihil corrupti.
        div
          button Xem Thêm
    .left_news
      .inner_left_news
        h6 Tin Tức - Sự Kiện
        hr
        img(src="../../assets/img/news/4.jpg", alt="")
        p.fix_color.lcl.lcl-1 Lorem Ipsum is simply
        span 20/02/2020
        div
          div
            img(src="../../assets/img/news/7.jpg", alt="")
            p.lcl.lcl-1 Lorem Ipsum is simply
            span 20/02/2020
          div
            img(src="../../assets/img/news/7.jpg", alt="")
            p.lcl.lcl-1 Lorem Ipsum is simply
            span 20/02/2020
div.clear


        


        
